<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css" >
</head>
<body>

        
    <div class="form">
        <input type="text" class="textbox" placeholder=" " required="required" />
        <label class="form-lable" >First Name</label>
      </div>

      <div class="form">
        <input type="text" class="textbox" placeholder=" " required="required" />
        <label class="form-lable" >Last Name</label>
      </div>

      <div class="form">
        <input type="email" class="textbox" placeholder=" " required="required" />
        <label class="form-lable" >Email Address</label>
      </div>
   
      
</body>
</html>








<div class="container text-center">
  <h1 >Online Books Store</h1>      
  <p>All Type Book are Availables </p>
</div>